[submodule "3rdparty/liblas/liblas"]
	path = 3rdparty/liblas/liblas
	url = https://github.com/AnastaZIuk/libLAS
[submodule "3rdparty/liblaszip/liblaszip"]
	path = 3rdparty/liblaszip/liblaszip
	url = https://github.com/AnastaZIuk/LASzip
[submodule "3rdparty/boost/boost"]
	path = 3rdparty/boost/boost
	url = https://github.com/boostorg/boost
[submodule "3rdparty/flann/flann"]
	path = 3rdparty/flann/flann
	url = https://github.com/mariusmuja/flann
[submodule "3rdparty/eigen/eigen"]
	path = 3rdparty/eigen/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "3rdparty/pcl/pcl"]
	path = 3rdparty/pcl/pcl
	url = https://github.com/AnastaZIuk/pcl
